### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [159]:
import pandas as pd
import numpy as np

pymoli_df= "Resources/purchase_data.csv"

purchase_data_df = pd.read_csv(pymoli_df)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [160]:
unique_players=purchase_data_df["SN"].unique()
total_players=len(unique_players)
print(total_players)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [161]:
unique_items=purchase_data_df["Item ID"].value_counts()
total_unique=len(unique_items)


av_price=purchase_data_df["Price"].mean()

unique_purchases=purchase_data_df["Purchase ID"].value_counts()
total_purchases=len(unique_purchases)

total_revenue=purchase_data_df["Price"].sum()

Total_Purchase_Analysis={"Number of Unique Items": [total_unique], "Average Purchase Price": [av_price], "Total Number of Purchases": [total_purchases],
                        "Total Revenue": [total_revenue]}

Purchase_Table=pd.DataFrame(Total_Purchase_Analysis)
Purchase_Table.head()

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,3.050987,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [162]:
player_gender_df = pd.DataFrame(purchase_data_df.drop_duplicates(["SN"]))

gender_group_df = player_gender_df.groupby(['Gender'])

gender_df = pd.DataFrame({"Total Count":gender_group_df["Gender"].count(),"Percentage of players":gender_group_df["Gender"].count()/total_players*100})
gender_df["Percentage of players"] = gender_df["Percentage of players"].map("{:.2f}%".format)
gender_df.head()

                       Total Count Percentage of players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [163]:

purchase_analysis_df= pd.DataFrame(purchase_data_df)
purchase_by_gender=purchase_analysis_df.groupby(['Gender'])


purchase_by_gender_df=pd.DataFrame({"Purchase Count": purchase_by_gender["Price"].count(), "Average Purchase Price": purchase_by_gender["Price"].mean(),
                                    "Total Purchase Value": purchase_by_gender["Price"].sum(), "Av. Total Purchase per Person": purchase_by_gender["Price"].sum() /gender_df["Total Count"]})


purchase_by_gender_df["Average Purchase Price"]= purchase_by_gender_df["Average Purchase Price"].map("${:.2f}".format)

purchase_by_gender_df["Total Purchase Value"]= purchase_by_gender_df["Total Purchase Value"].map("${:.2f}".format)

purchase_by_gender_df["Av. Total Purchase per Person"]= purchase_by_gender_df["Av. Total Purchase per Person"].map("${:.2f}".format)


purchase_by_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Av. Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [176]:
age_df = pd.DataFrame(purchase_data_df.drop_duplicates(["SN"]))

age_demographics=age_df

bins=[0,10,15,20,25,30,35,40,45]
group_labels=["<10", "10-14", "15-19","20-24", "25-29", "30-34", "35-40", "40+"]

age_demographics["Age Group"]= pd.cut(age_group_df["Age"], bins, labels=group_labels)
age_demographics= age_demographics.groupby("Age Group")

total_count=age_demographics["Age Group"].count()

percentage_players= total_count/age_group_df["Age"].count() *100

summary_table=pd.DataFrame({"Total Count": total_count, "Percentage of Players": percentage_players})

summary_table["Percentage of Players"] = summary_table["Percentage of Players"].map("{:.2f}%".format)

summary_table

           Total Count Percentage of Players
Age Group
<10                 24                 4.17%
10-14               41                 7.12%
15-19              150                26.04%
20-24              232                40.28%
25-29               59                10.24%
30-34               37                 6.42%
35-40               26                 4.51%
40+                  7                 1.22%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [187]:
purchase_analysis_age_df = pd.DataFrame(purchase_data_df.drop_duplicates(["SN"]))

analysis_by_age=purchase_analysis_age_df

bins=[0,10,15,20,25,30,35,40,45]
group_labels=["<10", "10-14", "15-19","20-24", "25-29", "30-34", "35-40", "40+"]

analysis_by_age["Age Group"]= pd.cut(purchase_analysis_df["Age"], bins, labels=group_labels)
analysis_by_ages= analysis_by_age.groupby("Age Group")

purchase_count=analysis_by_age["Age"].count()
#print(purchase_count)

total_purchase_amount= pd.to_numeric(analysis_by_age["Price"].sum())
#print(total_purchase_amount)

average_purchase=total_purchase_amount/purchase_count
#print(average_purchase)

3.070572916666667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame